/* Font for overskrift */
@font-face
{
    font-family: Hefigrah;
    src: url('/assets/fonts/Hefigrah.otf');
}

/* Font for underoverskrift */
@font-face
{
    font-family: Lucida Grande;
    src: url('/assets/fonts/LucidaGrande.ttf');
}

/* Font for overskrift for avsnitt */
@font-face
{
    font-family: STIX Two Math;
    src: url('/assets/fonts/STIXTwoMath.ttf');
}

/* Font for overskrift for hvert prosjekt */
@font-face
{
    font-family: Oswald Heavy;
    src: url('/assets/fonts/OswaldHeavy.ttf');
}

/* Variabler (f.eks. farger) */
:root
{
    --color-green: #022326;
    --color-gold: #F2B872;
    --color-white: #F2F2F2;
}

/* La nettsiden scrolle smooth */
html
{
    scroll-behavior: smooth;
}

body
{
    /* Fjern margin ("ramme") fra body */
    margin: 0;

    /* Farger */
    background: var(--color-white);
    color: var(--color-green);
}

/* Styling for introduksjon */
#introduction
{
    /* Putt ting i midten */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Sizing */
    height: 100vh;

    /* Farger */
    background: var(--color-green);
    color: var(--color-gold);

    /* Center text */
    text-align: center;
}

/* Stor tekst brukt for hoved-overskrift */
.huge-text
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Hefigrah, serif;
    font-weight: normal;
    font-size: 178px;
}

/* Liten tekst som kommer rett under hoved-overskrift */
.alt-heading
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Lucida Grande, sans-serif;
    font-weight: normal;
    font-size: 45px;
}

/* Front page pil ned */
#scroll-to-content-button
{
    /* Position */
    position: absolute;
    bottom: 80px;

    /* Size */
    width: 43px;
}

/* Main innhold */
#main-content
{
    /* Placement av selve alt */
    margin: 0 auto;
    padding: 175px 0;
    max-width: 1460px;

    /* Placement av ting inni */
    display: grid;
    grid-template-columns: 650px 600px;
    justify-content: space-between;
    row-gap: 190px;
}

/* Tving bildene i main innhold til riktig size */
#main-content img
{
    width: 100%;
}

/* Vanlig tekst i main innhold */
#main-content p
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Muli, sans-serif;
    font-size: 35px;
    line-height: 50px;
}

/* Right align tekst */
.right-align
{
    text-align: right;
}

/* Overskrift for avsnitt */
.paragraph-heading
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: STIX Two Math, serif;
    font-weight: normal;
    font-size: 120px;
}

/* Skygge for bilde */
.shadow-left
{
    box-shadow: -70px 45px var(--color-gold);
}

/* Prosjekter */
#projects
{
    /* Placement av ting inni */
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    /* Farger */
    background: var(--color-green);
    color: var(--color-gold);

    /* Placement av tekst for prosjekter */
    text-align: center;
}

/* Tittel for hele prosjekter-seksjonen */
#projects-header
{
    /* Bruk hele topp raden */
    grid-column: 1/4;

    /* Spacing rundt */
    padding: 90px;
}

/* Knapper for valg av prosjekter-side (rett under overskriften) */
#projects-pages
{
    /* Posisjon av ting inni */
    display: flex;
    justify-content: space-between;

    /* Placement og size */
    margin: 0 auto;
    padding: 25px;
    max-width: 985px;

    /* Linje over */
    border-top: 1px solid var(--color-gold);

    /* Farge */
    color: var(--color-white);

    /* Tekst */
    font-family: Muli, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

/* Tittel for hvert individuelt prosjekt */
.project-title
{
    font-family: Oswald Heavy, sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
}

/* Undertitler for hvert prosjekt */
.project-subtitle
{
    /* TODO: Legg inn font for denne */
}
