/* Font for overskrift */
@font-face
{
    font-family: Hefigrah;
    src: url('/assets/fonts/Hefigrah.otf');
}

/* Font for underoverskrift */
@font-face
{
    font-family: Lucida Grande;
    src: url('/assets/fonts/LucidaGrande.ttf');
}

/* Variabler (f.eks. farger) */
:root
{
    --color-green: #022326;
    --color-gold: #F2B872;
    --color-white: #F2F2F2;
}

/* Fjern margin fra body */
body
{
    margin: 0;
}

/* Styling for introduksjon */
#introduction
{
    /* Putt ting i midten */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Sizing */
    height: 100vh;

    /* Farger */
    background: var(--color-green);
    color: var(--color-gold);

    /* Center text */
    text-align: center;
}

/* Stor tekst brukt for hoved-overskrift */
.huge-text
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Hefigrah, serif;
    font-weight: normal;
    font-size: 178px;
}

/* Liten tekst som kommer rett under hoved-overskrift */
.alt-heading
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Lucida Grande, sans-serif;
    font-weight: normal;
    font-size: 45px;
}
