/* This stylesheet is used for the main front (index) page */

/* Styling for introduksjon */
#introduction
{
    /* Putt ting i midten */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Sizing */
    height: 100vh;

    /* Farger */
    background: var(--color-green);
    color: var(--color-gold);

    /* Center text */
    text-align: center;
}

/* Stor tekst brukt for hoved-overskrift */
.huge-text
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Hefigrah, serif;
    font-weight: normal;
    font-size: 175px;
}

/* Liten tekst som kommer rett under hoved-overskrift */
.alt-heading
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Lucida Grande, sans-serif;
    font-weight: normal;
    font-size: 45px;
}

/* Front page pil ned */
#scroll-to-content-button
{
    /* Position */
    position: absolute;
    bottom: 60px;

    /* Size */
    width: 42px;

    /* Putt den i midten horisontalt */
    transform: translatex(-50%);
}

/* Main innhold */
#main-content
{
    /* Placement av selve alt */
    margin: 0 auto;
    padding: 130px 0;
    max-width: 1095px;

    /* Placement av ting inni */
    display: grid;
    grid-template-columns: 490px 450px;
    justify-content: space-between;
    row-gap: 140px;
}

/* Tving bildene i main innhold til riktig size */
#main-content img
{
    width: 100%;
}

/* Avsnitt breaks */
br
{
    margin-bottom: 10px;
}

/* Right align tekst */
.right-align
{
    text-align: right;
}

/* Skygge for bilde */
.shadow-left
{
    box-shadow: -50px 34px var(--color-gold);
}

/* Skygge for et gjennomsiktig bilde */
.image-shadow-right
{
    filter: drop-shadow(16px -9px var(--color-gold));
}

/* Prosjekter */
#projects
{
    /* Farger */
    background: var(--color-green);
    color: var(--color-gold);

    /* Placement av tekst */
    text-align: center;
}

/* Tittel for hele prosjekter-seksjonen */
#projects-header
{
    /* Spacing rundt */
    padding: 70px;
}

/* Knapper for valg av prosjekter-side (rett under overskriften) */
#projects-pages
{
    /* Posisjon av ting inni */
    display: flex;
    justify-content: space-between;

    /* Placement og size */
    margin: 0 auto;
    padding: 20px;
    max-width: 740px;

    /* Linje over */
    border-top: 1px solid var(--color-gold);

    /* Farge */
    color: var(--color-white);

    /* Tekst */
    font-family: Muli, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

/* Sett hover (knapp) cursor for prosjekt-knappene */
#projects-pages a
{
    cursor: pointer;
}

/* Den valgte prosjektsiden */
.selected-page
{
    color: var(--color-gold);
    text-decoration: underline;
}
