/* Font for overskrift */
@font-face
{
    font-family: Hefigrah;
    src: url('/assets/fonts/Hefigrah.otf');
}

/* Font for underoverskrift */
@font-face
{
    font-family: Lucida Grande;
    src: url('/assets/fonts/LucidaGrande.ttf');
}

/* Font for overskrift for avsnitt */
@font-face
{
    font-family: STIX Two Math;
    src: url('/assets/fonts/STIXTwoMath.ttf');
}

/* Font for overskrift for hvert prosjekt */
@font-face
{
    font-family: Oswald Heavy;
    src: url('/assets/fonts/OswaldHeavy.ttf');
}

/* Font for undertitler for hvert prosjekt */
@font-face
{
    font-family: Grantha Sangm MN;
    src: url('/assets/fonts/GranthaSangamMn.otf');
}

/* Variabler (f.eks. farger) */
:root
{
    --color-green: #022326;
    --color-gold: #F2B872;
    --color-white: #F2F2F2;
}

/* La nettsiden scrolle smooth */
html
{
    scroll-behavior: smooth;
}

/* Styling for hele nettsiden */
body
{
    /* Fjern margin ("ramme") fra body */
    margin: 0;

    /* Farger */
    background: var(--color-white);
    color: var(--color-green);
}

/* Text selection (tekst som du highlighter liksom) */
::selection
{
    background: var(--color-green);
    color: var(--color-white);
}

/* Class for ting som skal ha inverterte selection farger */
.selection-inverted ::selection
{
    background: var(--color-gold);
    color: var(--color-green);
}

/* Class for ting som ikke skal ha selectable innhold */
.selection-none
{
    user-select: none;
}

/* Linker */
a
{
    /* Ikke gi linkene link-color (blue) */
    color: currentColor;
}

/* Styling for introduksjon */
#introduction
{
    /* Putt ting i midten */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Sizing */
    height: 100vh;

    /* Farger */
    background: var(--color-green);
    color: var(--color-gold);

    /* Center text */
    text-align: center;
}

/* Stor tekst brukt for hoved-overskrift */
.huge-text
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Hefigrah, serif;
    font-weight: normal;
    font-size: 134px;
}

/* Liten tekst som kommer rett under hoved-overskrift */
.alt-heading
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Lucida Grande, sans-serif;
    font-weight: normal;
    font-size: 34px;
}

/* Front page pil ned */
#scroll-to-content-button
{
    /* Position */
    position: absolute;
    bottom: 60px;

    /* Size */
    width: 32px;
}

/* Main innhold */
#main-content
{
    /* Placement av selve alt */
    margin: 0 auto;
    padding: 130px 0;
    max-width: 1095px;

    /* Placement av ting inni */
    display: grid;
    grid-template-columns: 490px 450px;
    justify-content: space-between;
    row-gap: 140px;
}

/* Tving bildene i main innhold til riktig size */
#main-content img
{
    width: 100%;
}

/* Vanlig tekst i main innhold */
#main-content p
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Muli, sans-serif;
    font-size: 21px;
    line-height: 30px;
}

/* Avsnitt breaks */
br
{
    margin-bottom: 10px;
}

/* Right align tekst */
.right-align
{
    text-align: right;
}

/* Overskrift for avsnitt */
.paragraph-heading
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: STIX Two Math, serif;
    font-weight: normal;
    font-size: 90px;
}

/* Skygge for bilde */
.shadow-left
{
    box-shadow: -50px 34px var(--color-gold);
}

/* Skygge for et gjennomsiktig bilde */
.image-shadow-right
{
    filter: drop-shadow(16px -9px var(--color-gold));
}

/* Prosjekter */
#projects
{
    /* Farger */
    background: var(--color-green);
    color: var(--color-gold);

    /* Placement av tekst */
    text-align: center;
}

/* Tittel for hele prosjekter-seksjonen */
#projects-header
{
    /* Spacing rundt */
    padding: 70px;
}

/* Knapper for valg av prosjekter-side (rett under overskriften) */
#projects-pages
{
    /* Posisjon av ting inni */
    display: flex;
    justify-content: space-between;

    /* Placement og size */
    margin: 0 auto;
    padding: 20px;
    max-width: 740px;

    /* Linje over */
    border-top: 1px solid var(--color-gold);

    /* Farge */
    color: var(--color-white);

    /* Tekst */
    font-family: Muli, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

/* Sett hover (knapp) cursor for prosjekt-knappene */
#projects-pages a
{
    cursor: pointer;
}

/* Den valgte prosjektsiden */
.selected-page
{
    color: var(--color-gold);
    text-decoration: underline;
}

/* Footer wrapper (basically bare bakgrunnsfargen, den er utenfor slik at den kan utvide helt til sidene */
#footer-wrapper
{
    /* Farger */
    background: var(--color-gold);
    color: var(--color-green);
}

/* Footer */
#footer
{
    /* Spacing og size */
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1215px;

    /* Tekst */
    font-family: Muli, sans-serif;
    font-size: 18px;
}

/* Overskrift i footeren */
.footer-heading
{
    /* Spacing */
    margin-top: 0;

    /* Tekst */
    font-weight: normal;
    font-size: 45px;
}

/* Spacing for "vanlig" tekst i footeren */
#footer td
{
    padding-right: 105px;
    line-height: 2.5em;
}
