/* Stylesheet for photos in the projects section */
#photos-collage
{
    /* Putt innholdet ved siden av hverandre */
    display: flex;
    gap: 22px;

    /* Size and position */
    margin: 0 auto;
    width: max-content;
}

/* Left kolonne (liten size) */
#photos-column-left
{
    width: 315px;
}

/* Middle kolonne (stor size) */
#photos-column-center
{
    width: 465px;
}

/* Right kolonne (medium size) */
#photos-column-right
{
    width: 390px;
}

/* Styling for alle bildene */
#photos-collage img
{
    /* Vertikalt mellomrom mellom bildene*/
    padding-bottom: 22px;

    /* Ha riktig size */
    width: 100%;
    height: unset;
}

/* Style for mindre skjermer (f.eks. mobil) */
@media (max-width: 1200px)
{
    #photos-collage
    {
        /* Putt alt under hverandre */
        flex-direction: column;
        gap: 0;
    }

    #photos-collage > div
    {
        /* Fiks sizing */
        width: 80vw;
    }
}