/* Stylesheet for photos in the projects section */
#photos-collage
{
    /* Putt innholdet ved siden av hverandre */
    display: flex;
    gap: 22px;

    /* Size and position */
    margin: 0 auto;
    width: max-content;
}

/* Left kolonne (liten size) */
#photos-column-left
{
    width: 315px;
}

/* Middle kolonne (stor size) */
#photos-column-center
{
    width: 465px;
}

/* Right kolonne (medium size) */
#photos-column-right
{
    width: 390px;
}

/* Styling for alle bildene */
#photos-collage img
{
    /* Vertikalt mellomrom mellom bildene*/
    padding-bottom: 22px;

    /* Ha riktig size */
    width: 100%;
    height: unset;
}
