/* Grid med prosjekter inni */
#projects-grid
{
    /* Placement av ting inni */
    /* Denne er faktisk en flex i stedet for en grid, for at den skal bli mer nice hvis du endrer browser size */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* Space mellom prosjekter (vertical, horizontal) */
    gap: 30px 80px;

    /* Placement og size */
    margin: 0 auto;
    padding: 0 50px 50px;
    max-width: 1215px;
}

/* Hvert enkelt prosjekt */
#projects-grid a
{
    /* Fjern tekst underline */
    text-decoration: none;
}

#projects-grid a:hover .project-title
{
    /* Legg til underline når hover */
    text-decoration: underline;
}

/* Forsidebilde for hvert prosjekt */
.project-image
{
    /* Sizing */
    width: 350px;
    height: 260px;

    /* Crop vekk de delene av bildet som er utenfor "rammen" */
    object-fit: cover;
}

/* Tittel for hvert individuelt prosjekt */
.project-title
{
    font-family: Oswald Heavy, sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
}

/* Undertitler for hvert prosjekt */
.project-subtitle
{
    font-family: Grantha Sangm MN, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

/* Class for en helt tom div (hack for rett spacing i prosjekt overview) */
.empty-project
{
    width: 350px;
}
