/* This stylesheet is shared between the main (index) page and the subpages */
/* Font for overskrift */
@font-face
{
    font-family: Hefigrah;
    src: url('/assets/fonts/Hefigrah.otf');
}

/* Font for underoverskrift */
@font-face
{
    font-family: Lucida Grande;
    src: url('/assets/fonts/LucidaGrande.ttf');
}

/* Font for overskrift for avsnitt */
@font-face
{
    font-family: STIX Two Math;
    src: url('/assets/fonts/STIXTwoMath.ttf');
}

/* Font for overskrift for hvert prosjekt */
@font-face
{
    font-family: Oswald Heavy;
    src: url('/assets/fonts/OswaldHeavy.ttf');
}

/* Font for undertitler for hvert prosjekt */
@font-face
{
    font-family: Grantha Sangm MN;
    src: url('/assets/fonts/GranthaSangamMn.otf');
}

/* Variabler (f.eks. farger) */
:root
{
    --color-green: #022326;
    --color-gold: #F2B872;
    --color-white: #F2F2F2;
}

/* La nettsiden scrolle smooth */
html
{
    scroll-behavior: smooth;
}

/* Styling for hele nettsiden */
body
{
    /* Fjern margin ("ramme") fra body */
    margin: 0;

    /* Farger */
    background: var(--color-white);
    color: var(--color-green);
}

/* Text selection (tekst som du highlighter liksom) */
::selection
{
    background: var(--color-green);
    color: var(--color-white);
}

/* Class for ting som skal ha inverterte selection farger */
.selection-inverted ::selection
{
    background: var(--color-gold);
    color: var(--color-green);
}

/* Class for ting som ikke skal ha selectable innhold */
.selection-none
{
    user-select: none;
}

/* Linker */
a
{
    /* Ikke gi linkene link-color (blue) */
    color: currentColor;
}

/* Overskrift for avsnitt */
.paragraph-heading
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: STIX Two Math, serif;
    font-weight: normal;
    font-size: clamp(40px, 9vw, 90px);
}

/* Vanlig tekst i main innhold */
#main-content p
{
    /* Spacing */
    margin: 0;

    /* Font */
    font-family: Muli, sans-serif;
    font-size: 21px;
    line-height: 30px;
}

/* Footer wrapper (basically bare bakgrunnsfargen, den er utenfor slik at den kan utvide helt til sidene */
#footer-wrapper
{
    /* Farger */
    background: var(--color-gold);
    color: var(--color-green);
}

/* Footer */
#footer
{
    /* Spacing og size */
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1215px;

    /* Tekst */
    font-family: Muli, sans-serif;
    font-size: 18px;
}

/* Overskrift i footeren */
.footer-heading
{
    /* Spacing */
    margin-top: 0;

    /* Tekst */
    font-weight: normal;
    font-size: 45px;
}

/* Spacing for "vanlig" tekst i footeren */
#footer td
{
    padding-right: 105px;
    line-height: 2.5em;
}

/* Annen footer spacing for mindre skjermer */
@media (max-width: 450px)
{
    #footer
    {
        padding-bottom: 0;
    }

    .footer-heading
    {
        padding-left: 10px;
    }

    #footer tr
    {
        display: flex;
        justify-content: space-between;

        padding: 0 10px;
        width: calc(100vw - 2 * 10px);
    }

    #footer td
    {
        padding-right: 0; /* Fjern padding for normal spacing */
    }

    #footer td:last-child
    {
        text-align: right;
    }
}