/* This stylesheet is used for subpages containing project texts and that stuff */

#header
{
    /* Posisjon og size */
    position: fixed;
    transform: translateY(0); /* Denne skal bli endret av javascript */
    width: 100vw;

    /* Farge */
    background: var(--color-green);
    color: var(--color-gold);

    /* Always be on top */
    z-index: 1;

    /* Transition */
    transition: transform .5s ease;
}

/* Knapp som navigerer tilbake til forsiden */
#back-button
{
    /* Sett posisjon skikkelig */
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    /* Size */
    width: 30px;
}

/* Teksten (overskriften) i headeren */
#header-text
{
    /* Denne trengs slik at sidestrekene har rett posisjon */
    position: relative;

    /* Putt i midten */
    width: max-content;
    margin: 0 auto;
    padding: 30px 50px;

    /* Font */
    font-family: Hefigrah, serif;
    font-weight: normal;
    font-size: clamp(25px, 5vw, 40px);
}

/* Strek til venstre for tekst i header */
#header-text::before, #header-text::after
{
    /* Variabel for lengde */
    --line-length: 330px;

    /* Sizing */
    content: '';
    display: block;
    width: var(--line-length);

    /* Positioning */
    position: absolute;
    top: 50%;
    left: calc(var(--line-length) * -1);

    /* Strek */
    border-top: 1px solid var(--color-gold);
}

/* Fiks posisjon for strek etter tekst i header */
#header-text::after
{
    left: unset;
    right: calc(var(--line-length) * -1);
}

/* Sizing for main content */
#main-content
{
    margin: 100px auto 0;
    max-width: 1095px;
}

/* Hovedoverskrift for subpage */
#page-title
{
    padding: 70px;
    text-align: center;
}

/* Class for content som skal vises ved siden av hverandre */
.content-flex
{
    /* Flex things */
    display: flex;
    align-items: center;
    gap: 100px;

    /* Size */
    height: 400px;
}

/* Fiks image height */
img
{
    height: 100%;
}

/* Class for blend mode multiply (fikser hvit bakgrunn for noen bilder) */
.blend-multiply
{
    mix-blend-mode: multiply;
}

/* Class for full bredde (ta hele horizontal spacen) */
.full-width
{
    /* Sett bredden til hele parent container */
    width: 100%;

    /* Legg til litt spacing og */
    padding: 70px 0;
}

/* Linje som bruk som separator */
hr
{
    /* Spacing */
    margin: 0 70px;

    /* Border */
    border-top: 1px solid var(--color-green);
    border-bottom: none;
}

/* Legg til spacing over overskriftene */
.paragraph-heading
{
    padding-top: 150px;
}

/* Legg til farget linje under overskriftene for hvert avsnitt */
.paragraph-heading:not(#page-title)
{
    text-decoration: underline;
    text-decoration-color: var(--color-gold);
}

/* Brukt noen steder for mer space under siste element av main content */
.space-below
{
    margin-bottom: 60px;
}

/* Overwrite fargene i footer */
#footer-wrapper
{
    background: var(--color-green);
    color: var(--color-white);
}

/* Styling for mindre skjermer */
@media (max-width: 1100px)
{
    /* Vis innhold under hverandre i stedet av ved siden av */
    .content-flex
    {
        flex-direction: column;
        gap: 0; /* Spacing blir satt av padding for p elementer */
    }

    /* Spacing rundt */
    .content-flex p
    {
        padding:20px;
    }

    /* Modify spacing */
    .paragraph-heading
    {
        padding: 50px 20px 0;
    }

    /* Fjern header striper */
    #header-text::before, #header-text::after
    {
        display: none;
    }
}
