<!-- Stylesheet for bilder -->
<link rel="stylesheet" href="/style/photos.css">

<!-- "Grid" med bilder -->
<div id="photos-collage">
    <!-- Kolonne 1 -->
    <div id="photos-column-left">
        <img src="https://via.placeholder.com/420x635" alt="Placeholder image">
        <img src="https://via.placeholder.com/420x635" alt="Placeholder image">
        <img src="https://via.placeholder.com/420x295" alt="Placeholder image">
        <img src="https://via.placeholder.com/420x655" alt="Placeholder image">
        <img src="https://via.placeholder.com/420x655" alt="Placeholder image">
    </div>

    <!-- Kolonne 2 -->
    <div id="photos-column-center">
        <img src="https://via.placeholder.com/620x400" alt="Placeholder image">
        <img src="https://via.placeholder.com/620x920" alt="Placeholder image">
        <img src="https://via.placeholder.com/620x420" alt="Placeholder image">
        <img src="https://via.placeholder.com/620x776" alt="Placeholder image">
        <img src="https://via.placeholder.com/620x410" alt="Placeholder image">
    </div>

    <!-- Kolonne 3 -->
    <div id="photos-column-right">
        <img src="https://via.placeholder.com/520x753" alt="Placeholder image">
        <img src="https://via.placeholder.com/520x305" alt="Placeholder image">
        <img src="https://via.placeholder.com/520x305" alt="Placeholder image">
        <img src="https://via.placeholder.com/520x710" alt="Placeholder image">
        <img src="https://via.placeholder.com/520x700" alt="Placeholder image">
        <img src="https://via.placeholder.com/520x345" alt="Placeholder image">
    </div>
</div>
