<!-- "Grid" med bilder -->
<div id="photos-collage">
    <!-- Kolonne 1 -->
    <div id="photos-column-left">
        <img src="/assets/images/photos/image00010.png" alt="Image">
        <img src="/assets/images/photos/DSC05157.jpg" alt="Image">
        <img src="/assets/images/photos/IMG_0238.png" alt="Image">
        <img src="/assets/images/photos/IMG_8693.jpg" alt="Image">
        <img src="/assets/images/photos/R1-05247-0028.jpg" alt="Image">
        <img src="/assets/images/photos/IMG_9219.png" alt="Image">
        <img src="/assets/images/photos/IMG_8833.jpg" alt="Image">
    </div>

    <!-- Kolonne 2 -->
    <div id="photos-column-center">
        <img src="/assets/images/photos/image00004.png" alt="Image">
        <img src="/assets/images/photos/image00001.jpeg" alt="Image">
        <img src="/assets/images/photos/DSCF1008.jpg" alt="Image">
        <img src="/assets/images/photos/IMG_2290.png" alt="Image">
        <img src="/assets/images/photos/R1-05247-0026.jpg" alt="Image">
        <img src="/assets/images/photos/IMG_9831.jpg" alt="Image">
        <img src="/assets/images/photos/IMG_1340.jpg" alt="Image">
    </div>

    <!-- Kolonne 3 -->
    <div id="photos-column-right">
        <img src="/assets/images/photos/image00009.png" alt="Image">
        <img src="/assets/images/photos/image00002.jpeg" alt="Image">
        <img src="/assets/images/photos/DSCF4252.jpg" alt="Image">
        <img src="/assets/images/photos/DSCF4352.jpg" alt="Image">
        <img src="/assets/images/photos/IMG_8156.jpg" alt="Image">
        <img src="/assets/images/photos/IMG_9802.jpg" alt="Image">
    </div>
</div>
