<!-- Stylesheet for prosjekter -->
<link rel="stylesheet" href="/style/projects.css">

<!-- Grid med de faktiske prosjektene -->
<div id="projects-grid">
    <div>
        <img class="project-image" src="/assets/images/projects/ut-paa-landet.png" alt="Ut på landet">
        <h1 class="project-title">Ut på landet</h1>
        <h2 class="project-subtitle">Logo og Etikett</h2>
    </div>
    <div>
        <img class="project-image" src="/assets/images/projects/sor-afrika-tur.png" alt="Sør-Afrika tur">
        <h1 class="project-title">Sør-Afrika tur</h1>
        <h2 class="project-subtitle">Mini Dokumentar</h2>
    </div>
    <div>
        <img class="project-image" src="/assets/images/projects/portrett-intervju.jpg" alt="Portrett intervju">
        <h1 class="project-title">Portrett intervju</h1>
        <h2 class="project-subtitle">Avis Artikkel</h2>
    </div>
    <div>
        <img class="project-image" src="/assets/images/projects/en-ferd-med-lyset.png" alt="En ferd med lyset">
        <h1 class="project-title">En ferd med lyset</h1>
        <h2 class="project-subtitle">Kort-Film</h2>
    </div>
    <div>
        <img class="project-image" src="/assets/images/projects/tidsparing.png" alt="Tidsparing">
        <h1 class="project-title">Tidsparing</h1>
        <h2 class="project-subtitle">Reklame Kampanje</h2>
    </div>
    <div class="empty-project"></div>
</div>
